# Site Settings
locale                   : "en-US"
title                    : "Haolan Zhang"
title_separator          : "-"
name                     : &name "Haolan Zhang"
description              : &description "Ph.D. Student at JAIST - Adaptive Visual SLAM"
url                      : https://HaolanZhang.github.io  # TODO: Replace with your GitHub username
baseurl                  : "
repository               : "Miyanolan/HaolanZhang.github.io"  # TODO: Replace

# Site Author
author:
  avatar           : "profile.png"  # TODO: Add your photo to /images/profile.png
  name             : "Haolan Zhang"
  pronouns         : "he/him"
  bio              : "Ph.D. Student @ JAIST<br>Adaptive Visual SLAM"
  location         : "Nomi, Ishikawa, Japan"
  employer         : "Japan Advanced Institute of Science and Technology"
  uri              :
  email            : "haolan.z@jaist.ac.jp"

  # Academic websites
  googlescholar    : "https://scholar.google.com/citations?hl=ja&user=EwVNW7EAAAAJ&view_op=list_works&sortby=pubdate"
  orcid            :  0009-0007-1742-3754
  github           :  # TODO: Add your GitHub username
  linkedin         :  # TODO: Add your LinkedIn username

# Publication Categories
publication_category:
  manuscripts:
    title: 'Journal Articles'
  conferences:
    title: 'Conference Papers'

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Collections
collections:
  publications:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/
  teaching:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  # _publications
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
      comments: true

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from

# Pagination
paginate: 5
paginate_path: /page:num/

# Analytics
analytics:
  provider: false
