# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve -l -H localhost`. If you change this file, please restart the
# server process.

# Basic Site Settings
locale: "en-US"
title: "Haolan Zhang"
title_separator: "-"
name: &name "Haolan Zhang"
description: &description "Ph.D. Student at JAIST - Adaptive Visual SLAM"
url: "https://Miyanolan.github.io"
baseurl: ""
repository: "Miyanolan/Miyanolan.github.io"
teaser:
breadcrumbs: false

# Site Author
author:
  avatar: "profile.png"
  name: "Haolan Zhang"
  pronouns: "he/him"
  bio: "Ph.D. Student @ JAIST, Adaptive Visual SLAM"
  location: "Nomi, Ishikawa, Japan"
  employer: "Japan Advanced Institute of Science and Technology"
  uri:
  email: "haolan.z@jaist.ac.jp"
  googlescholar: "https://scholar.google.com/citations?user=EwVNW7EAAAAJ"
  orcid:
  github: "Miyanolan"
  linkedin:

# Publication Categories
publication_category:
  manuscripts:
    title: "Journal Articles"
  conferences:
    title: "Conference Papers"

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Collections
collections:
  publications:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/
  teaching:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
      comments: true

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from

# Pagination
paginate: 5
paginate_path: /page:num/

# Analytics
analytics:
  provider: false
